/*start general properties for website*/
@font-face {
    font-family: "semiBold";
    src: url(../fonts/tajawal/Tajawal-Medium.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../fonts/tajawal/Tajawal-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/tajawal/Tajawal-Bold.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.overflowNone
{
    overflow: hidden;
}
.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    box-shadow: 0 0 0 0 rgba($color: #000000, $alpha: 0);
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3 {
    font-family: "bold";
}

h4,
h5,
h6 {
    font-family: "semiBold";
}

p,
span {
    font-family: 'regular';
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.owl-theme .owl-dots .owl-dot span{
    width: 15px;
    height: 6px;
    border-radius: 4px;
    background-color: #ddd;
    transition: all .5s linear;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #00B5BC;
    width: 25px;
}
.button-contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
}
.custom-bnt{
    position: relative;
    font-size: 16px;
    width: fit-content !important;
    background-color: #00B5BC;
    padding: 15px 35px;
    overflow: hidden;
    outline: none;
    border: none;
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background-color: #fff;
        transform: scale(0, 1);
        transform-origin: top right;
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    }
    span{
        font-weight: 700;
        color: #ffffff;
        font-size: 16px;
        z-index: 99;
        position: relative;
    }
    &:hover{
       
        box-shadow: 0 10px 30px rgba($color: #000000, $alpha: .06);
        span{
            color: #00B5BC !important;
        }
        &::before{
            transform: scale(1, 1);
            transform-origin: bottom left;
        }
    }
}
.heading{
    position: relative;
    margin-bottom: 70px !important;
    text-align: center;
    h4{
        position: relative;
        padding: 0px 30px;
        width: fit-content;
        margin: auto;
        color: #c8215d;
        font-size: 40px;
        font-family: 'bold';
        &::after , &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: url("../images/pharmacy.svg");
            background-size: contain !important; 
            background-repeat: no-repeat !important;
            top: 50%;
            transform: translateY(-50%);
            filter: invert(74%) sepia(56%) saturate(6052%) hue-rotate(143deg) brightness(92%) contrast(101%);
        }
        &::after{
            left: 0px;
        }
        &::before{
            right: 0px;
        }
    }
    p{
        color: #000000;
        font-family: 'regular';
        font-size: 20px;
        margin-top: 10px;
        line-height: 2rem;
    }
}
/*end general properties for website*/
.navbar{
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999 !important;
    .top-nav{
        padding: 20px 0px 40px 0px;
        background-color: #fff;
        box-shadow: 0px 0px 10px #88adb9;
        width: 100%;
        .top-nav-content{
            
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            .content-items{
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
            }
        }
        .brand-name{
           img{
                width: 200px;
                height: 60px;
                object-fit: contain;
           }

        }
        .call-number{
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            p{
                color: #c3d7e1 ;
                font-size: 20px;
                font-family: 'bold';
                margin-bottom: 10px;
            }
            a{
                color: #88adb9;
                font-size: 20px;
                font-family: 'semiBold';
            }
        }
    }
    .bottom-nav{
        width: 90%;
        margin: auto;
        background-color: #00B5BC;
        border-radius: 10px;
        padding: 20px 15px;
        margin-top: -30px;
        .nav-content{
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            .data-content{
                display: flex;
                align-items: center;
                align-content: center;
                li{
                    a{
                        padding: 1rem .5rem;
                        color: #fff;
                        font-family: 'semibold';
                        font-size: 14px;
                    }
                }
            }
            .socail-network{
                display: flex;
                align-items: center;
                align-content: center;
                li{
                    margin: 0px 10px;
                    a{
                        i{
                            font-size: 15px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .navbar-toggler{
        width: 50px;
        height: 50px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        cursor: pointer;
        svg{
            transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
            path {
                transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
                &:nth-child(1){
                    transform-origin: 36% 40%;
                }
                &:nth-child(2){
                    stroke-dasharray: 29 299;
                }
                &:nth-child(3){
                    transform-origin: 35% 63%;
                }
                &:nth-child(4){
                    stroke-dasharray: 29 299;
                }
                &:nth-child(5){
                    transform-origin: 61% 52%;
                }
                &:nth-child(6){
                    transform-origin: 62% 52%;
                }
            }
        }
        &.active{
            svg{
                transform: rotate(90deg);
                path {
                    &:nth-child(1){
                        transform: translateX(9px) translateY(1px) rotate(45deg);
                    }
                    &:nth-child(2){
                        stroke-dasharray: 225 299;
                        stroke-dashoffset: -72px;
                    }
                    &:nth-child(3){
                        transform: translateX(9px) translateY(1px) rotate(-45deg);
                    }
                    &:nth-child(4){
                        stroke-dasharray: 225 299;
                        stroke-dashoffset: -72px;
                    }
                    &:nth-child(5){
                        transform: translateX(9px) translateY(1px) rotate(-45deg);
                    }
                    &:nth-child(6){
                        transform: translateX(9px) translateY(1px) rotate(45deg);
                    }
                }
            }
            
        }
    }
}
/*start header*/
header{
   width: 100%;
   .item{
       padding: 250px 0px 0px 0px;
       background-size: cover !important;
       background-repeat: no-repeat !important;
       position: relative;
       z-index: 9;
       &::after{
           content: '';
           position: absolute;
           width: 100%;
           height: 100%;
           background-color: rgba($color: #fff, $alpha: .5);
           top: 0;
           left: 0;
           z-index: -1;
       }
       .content{
           width: 100%;
           height: 100%;
           display: flex;
           flex-direction: column;
           justify-content: center;
           h4{
               color: #000000;
               font-family: 'bold';
               font-size: 50px;
               transform: translateX(-20px);
               transition: all .5s linear;
               opacity: 0;
           }
           p{
               color: #333;
               font-size: 30px;
               font-family: 'regular';
               line-height: 2.1rem;
               margin: 30px 0px;
               transform: translateX(20px);
               opacity: 0;
               transition: all .5s linear;
               text-align: justify;
           }
           .custom-bnt{
               transform: translateY(10px);
               opacity: 0;
               transition: all .5s linear;
           }
       }
       .image-content{
            width: 100%;
            height: 100%;
            transform: translateY(30%);
            opacity: 0;
            transition: all .5s linear;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            img{
                width: 100%;
                height: 500px;
                object-fit: contain !important;
            }
       }
   }
   .owl-item.active{
       .content {
           h4 , p {
               transform: translateX(0px);
               opacity: 1;
               transition-delay: 500ms;
           }
           .custom-bnt{
               transform: translateY(0px);
               opacity: 1;
               transition-delay: 500ms;
           }
       }
       .image-content{
            transform: translateY(0px);
            opacity: 1;
            transition-delay: 500ms;
       }
   }
   .owl-theme .owl-nav{
       width: fit-content;
       position: absolute;
       bottom: 0;
       right: 0;
       button{
           width: 50px;
           height: 50px;
           background-color: #fff !important;
           display: flex;
           justify-content: center;
           align-items: center;
           align-content: center;
           box-shadow: 0px 0px 5px #c3d7e1;
           margin: 0px 5px;
           i{
               color: #00B5BC;
               font-size: 20px;
           }
       }
   }
}
.sub-header{
    width: 100%;
    padding: 250px 0px 100px 0px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    z-index: 9;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #fff, $alpha: .5);
        top: 0;
        left: 0;
        z-index: -1;
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h4{
            color: #000000;
            font-family: 'bold';
            font-size: 50px;
        }
    }
}
/*start about-us*/
.about-us{
    width: 100%;
    padding: 50px 0px;
    background: url('../images/features.jpg');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
    .box{
        width: 100%;
        padding: 15px 20px;
        border: 1px solid #00B5BC;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        overflow: hidden;
        z-index: 99;
        transition: all .5s linear;
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: "";
            background-color: #00B5BC;
            transform: scale(0, 1);
            transform-origin: top right;
            transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
            transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
            z-index: -1;
        }
        .image-content{
            width: 100px;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: invert(74%) sepia(56%) saturate(6052%) hue-rotate(143deg) brightness(92%) contrast(101%);
            }
        }
        .content{
            width: 100%;
            padding: 15px 0px;
            text-align: center;
            h4{
                color: #555;
                font-size: 20px;
                font-family: 'bold';
                margin-bottom: 20px;
            }
        }
        &:hover{
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: .2);
            transform: translateY(-10px);
            &::before{
                transform: scale(1, 1);
                transform-origin: bottom left;
            }
            img{
                filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(98deg) brightness(103%) contrast(101%);
            }
            h4 {
                color: #fff;
            }
        }
    }
}
/*start services*/
.services{
    width: 100%;
    padding: 50px 0px;
    background-color: #fff;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    .box{
        width: 100%;
        padding: 20px 20px;
        background-color: #F1F5F8;
        border-radius: 10px;
        box-shadow: 0px 0px 2px #88adb9;
        margin-top: 20px;
        transition: all .5s linear;
        .image-content{
            width: 100px;
            height: 100px;
            overflow: hidden;
            margin: -60px auto 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            border-radius: 50%;
            background-color: #F1F5F8;
            img{
                width: 50%;
                height: 50%;
                object-fit: contain;
                filter: invert(19%) sepia(0%) saturate(1%) hue-rotate(27deg) brightness(92%) contrast(93%);
            }
        }
        .content{
            width: 100%;
            padding-top: 20px;
            text-align: center;
            h4{
                color: #00B5BC;
                font-size: 20px;
                font-family: 'bold';
                margin-bottom: 20px;
            }
            p{
                color: #666;
                line-height: 2rem;
                font-size: 15px;
            }
        }
        &:hover{
            transform: translateY(-10px);
            img{
                filter: invert(54%) sepia(26%) saturate(6262%) hue-rotate(147deg) brightness(98%) contrast(101%);
            }
        }
    }

}

/*start teamwork*/
.teamwork{
    width: 100%;
    padding: 50px 0px;
    .owl-carousel .owl-stage-outer{
        padding: 20px 0px;
    }
    .item{
        margin: 0px 10px;
    }
    .team-box{
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: rgba($color: #c8215d, $alpha: 1);
        border-radius: 10px;
        transition: all .5s linear;
        .image-content{
            width: 100%;
            height: 313px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
            .content-type{
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 10px 15px;
                background-color: #00B5BC;
                transform: translateX(100%);
                opacity: 0;
                visibility: hidden;
                transition: all .5s ease;
                p{
                    color: #fff;
                    margin: 0px;
                    font-size: 15px;
                }
            }
        }
        .content{
            padding: 20px 0px;
            text-align: center;
            h4{
                color: #fff;
                font-size: 20px;
                font-family: 'bold';
            }
        }
        &:hover{
            transform: translateY(-10px);
            box-shadow: 0px 0px 10px rgba($color: #444 , $alpha: .5);
            .content-type{
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .box-data{
        width: 100%;
        padding: 20px 15px;
        background-color: #F1F5F8;
        border-radius: 10px;
        margin-bottom: 50px;
        box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .1);
        &:last-child{
            margin: 0px !important;
        }
        .heading{
            background-color: #fff;
            padding: 10px 0px;
        }
        ul{
            li{
                margin-bottom: 20px;
                padding: 20px 10px;
                background-color: #fff;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                .date{
                    padding: 20px 10px;
                    color: #333;
                    background-color: #00B5BC;
                    border-radius: 5px;
                }
                .data{
                    margin-right: 50px;
                    h4{
                        color: #0097DB;
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 15px;
                    }
                    p{
                        color: #888;
                        font-size: 15px;
                        font-weight: 500;
                        margin: 0px;
                    }
                }
                &:last-child{
                    margin: 0px;
                }
            }
        }
    }
}
.news{
    width: 100%;
    padding: 50px 0px;
    background-size: cover !important;
    background-repeat: no-repeat !important ;
    .box{
        width: 100%;
        position: relative;
        border-radius: 10px;
        border: 1px solid #c3d7e1;
        overflow: hidden;
        background-color: #fff;
        transition: all .5s linear;
        height: 100%;
        .image-content{
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .new-type{
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 10px;
                transform: translateX(100%);
                background-color: #00B5BC;
                transition: all .5s linear;
                p{
                    font-size: 15px;
                    color: #fff;
                    margin: 0px;
                    font-family: 'regular';
                }
            }
        }
        .content{
            width: 100%;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            h4{
                color: #00B5BC;
                font-size: 20px;
                font-family: 'bold';
            }
            p{
                color: #888;
                font-size: 15px;
                line-height: 2rem;
                font-family: 'regular';
                margin: 15px 0px;
            }
        }
        &::After{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #00B5BC;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transition: all .5s linear;
        }
        &:hover{
            transform: translateY(-10px);
            box-shadow: 0px 0px 5px #88adb9;
            &::after{
                transform: scaleX(1);
            }
            .image-content{
                .new-type{
                    transform: translateX(0);
                }
            }
        }
    }
}
.requset-time , .contact-us{
    width: 100%;
    padding: 50px 0px;
    .form{
        overflow: hidden;
        padding: 30px 0px 5px 0px;
        .from-group{
            width: 100%;
            height: 50px;
            position: relative;
            margin-bottom: 30px;
            .form-control{
                width: 100%;
                height: 100%;
                color:#333;
                padding: 0px  10px !important;
                border: none;
                &:focus , &:valid{
                    
                    &+ .label{
                        border: none;
                        .label-content{
                           transform: translateY(-80%);
                           color: #00B5BC;
                        }
                        &::after{
                            transform: scaleX(1);
                        }
                        &::before{
                            transform: scaleY(1);
                        }
                    }
                }
            }
            .label{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                margin: 0px;
                border: 1px solid #888;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    border-top: 1px solid #00B5BC;
                    border-bottom: 1px solid #00B5BC;
                    transform: scaleX(0);
                    transition: all .4s ease;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top:0;
                    bottom: 0;
                    right: 0px;
                    left: 0px;
                    height: 100%;
                    border-right: 1px solid #00B5BC;
                    border-left: 1px solid #00B5BC;
                    transform: scaleY(0);
                    transition: all .4s ease;
                }
                .label-content{
                    position: absolute;
                    bottom: 5px;
                    right: 10px;
                    padding: 5px;
                    transition: all .3s ease;
                    background-color: #fff;
                    z-index: 99 !important;
                }
            }
        }
    }
    .data-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 30px;
        iframe{
            width: 100%;
            height: 384px !important;
            box-shadow: 0px 0px 5px #88adb9;
        }
    }
    .box{
        padding: 20px 25px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #88adb9;
        height: 100%;
        .image-content{
            width: 100px;
            height: 100px;
            margin: auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: invert(46%) sepia(78%) saturate(1119%) hue-rotate(146deg) brightness(95%) contrast(104%);
            }
        }
        .content{
            width: 100%;
            padding-top: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                color: #333;
                font-size: 20px;
                font-family: 'bold';
                margin-bottom: 20px;
            }
            ul{
                li{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    align-content: center;
                    margin: 10px 0px;
                    .day{
                        color: #333;
                        font-size: 17px;
                        margin: 0px 0px 0px 10px;
                    }
                    .data{
                        color: #888;
                        font-size: 12px;
                        font-family: 'regular';
                    }
                }
            }

            .custom-bnt{
                margin: 20px auto 0px;
            }
        }
    }
}
.contact-us{
    background-color: #F1F5F8;
    padding-bottom: 20px;
    .label-content{
        background-color: #F1F5F8 !important;
    }
    .form-control{
        background-color: #F1F5F8;
    }
}
.banners{
    width: 100%;
    padding: 50px 0px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: #c8215d;
    .item{
        img{
            width: 100%;
            height: 100px;
            object-fit: contain;
        }
    }
}

.contact-data {
    width: 100%;
    padding: 50px 0px;
    
    .contact-box {
        padding: 20px 10px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: 1px solid #0097DB;
        border-radius: 4px;
        transition: all .3s linear;
        background-color: #fff;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            margin-inline-end: 12px;
        }

        span {
            color: #0097DB;
            font-size: 14px;
            font-weight: 700;
        }

        &:hover {
            transform: translateY(-10px);
        }
    }
}

footer{
    width: 100%;
    padding: 50px 0px;
    background: url('../images/footer.jpeg');
    background-size: cover !important ;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
    z-index: 99;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: .6 );
        top: 0;
        left: 0;
        z-index: -1;
    }
    .list-contain{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        li{
            margin-bottom: 20px;
            text-align: center;
            a{
                color: #fff;
                font-size: 20px;
                font-family: 'regular';
            }
        }
    }
    .image-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        img{
            width: 100%;
            height: 200px;
            object-fit: contain;
            margin: auto;
        }
    }
}
.copyrights{
    width: 100%;
    padding: 20px 0px;
    background-color: #333;
    .content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .socail-network{
            display: flex;
            align-items: center;
            align-content: center;
            li{
                margin: 0px 10px;
                a{
                    i{
                        font-size: 15px;
                        color: #fff;
                    }
                }
            }
        }
        p{
            color: #fff;
            font-size: 15px;
            font-family: 'regular';
            margin: 0px;
            i{
                color: #c8215d;
            }
        }

    }
}
/*start loader*/
/*start loader*/
.loader {
    width: 100%;
    height: 100vh;
    background-color: #00B5BC;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    .wrapper {
        position: absolute;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
        width: 64px;
        height: 64px;
        border-radius: 50%;
        perspective: 800px;
        .inner {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            &.one {
                left: 0%;
                top: 0%;
                animation: rotate-one 1s linear infinite;
                border-bottom: 3px solid #c8215d;
            }
            &.two {
                right: 0%;
                top: 0%;
                animation: rotate-two 1s linear infinite;
                border-right: 3px solid #c8215d;
            }
            &.three {
                right: 0%;
                bottom: 0%;
                animation: rotate-three 1s linear infinite;
                border-top: 3px solid #c8215d;
            }
        }
    }
    &.hidden {
        animation: loaderSlideDown 1s;
        animation-fill-mode: forwards;
    } 
}
/***************************** Start Animations *****************************/
@keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes loaderSlideDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
        display: none;
    }
}
@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/*scroll to top btn */
.scroll-top-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #00B5BC;
    color: #fff;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in-out;

    &:hover {
        background: #0097DB;
        color: #fff;
    }

    i {
        transition: all 0.1s ease;
        position: relative;
        bottom: 4px;
    }
}